{% extends "base.html" %}
{% block title %}SMART AI FACTORY{% endblock %}
{% block content %}
<div class="navigation w-100 h-100">
    <div class="left h-100 d-inline-block">
       {% include "layout/menu.html" %}
        <!-- <p class="txt01 notosans500" style="margin-bottom: 29px;">스마트 AI 팩토리</p>
        <div class="box_center">
            <p class="face"><img src="\static\img\001.png" style="width: 100%;" /></p>
            <p class="face_line posion_abso"></p>
        </div>
        <div class="gray70 fons11 txt_cen" style="padding-top: 20px;">김주임, 이사원</div>
        <div class="flex_center" style="margin:10px 0 40px;">
            <span class="uil uil-setting gray70 fons20 ico"></span>
            <span class="uil uil-envelope gray70 fons20 ico"></span>
            <a href="/signout"><span class="uil uil-power gray70 fons20 ico"></span></a>
        </div>
        <div>
            <div class="fons15 menu" style="border-top: 1px solid #373737; padding-top: 13px;">
                <span>모니터링</span>
                <span class="uil uil-angle-right-b fons19"></span>
            </div>
            <div class="fons15 menu_on" style="padding-top: 13px;">
                <span>기기상태</span>
                <span class="uil uil-angle-right-b fons19"></span>
            </div>
            <div class="fons15 menu" style="padding-top: 13px;">
                <span>품질검사</span>
                <span class="uil uil-angle-right-b fons19"></span>
            </div>
            <div class="fons15 menu" style="padding-top: 13px;">
                <span>로그기록</span>
                <span class="uil uil-angle-right-b fons19"></span>
            </div>
        </div> -->
    </div>

    <div class="contain_box">
        <div class="top_box">
            <span class="fonts14 grayb7 top_box_center">
                <span class="uil uil-bars fons19 ico"></span>
                <span>스마트 AI 팩토리 관제 시스템</span>
                <span>|</span>
                <span class="whit notosans400">기기 상태</span>
            </span>
            <div>
                <span style="margin-right: 10px;">{{ user.username }} 님 ! </span>
                <button type="button" class="btn btn-outline-dark" style="font-size: 10px;">메일</button>
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-dark" style="font-size: 10px;" onclick="location.href='/signout'">로그아웃</button>
                {% endif %} 
            </div>
        </div>
        <div class="center_box_02_01">
            <div class="item01" style="overflow: hidden;">
                <div class="notosans400 fons13">HD-1500-00 실시간</div>
                <div class="map_box" >
                    <img src="\static\img\005.png" style="height:100%;"/>
                </div>
            </div>
            <div class="item02">
                <div class="notosans400 fons13">기기 위치</div>
                <div class="map_box" >
                    <img src="\static\img\map_long.png" style="height:100%;"/>
                </div>
            </div>
        </div>
        <!-- <div class="center_box_01_02" style="margin-top: 20px;">
            <div class="item">
                <div class="notosans400 fons13">HD-1500-00 실시간</div>
                <div class="map_box" style="overflow: hidden;">
                    <img src=".\img\004.jpg" style="height:100%;"/>
                </div>
            </div>
            <div>
                <div class="notosans400 fons13">기기 위치</div>
                <div class="map_box" style="overflow: hidden; margin-bottom: 15px;">
                    <img src=".\img\004.jpg" style="height:100%;"/>
                </div>
            </div>
        </div> -->




        
            <div class="card" style="margin: 0 20px;">
                <div class="card-body">
                    <div class="navigation" style="justify-content: space-between;">
                        <p class="notosans400 fons13">작업현황</p>
                    
                        <div class="nav_right fons10 gray70">
                            <p class="ico_btn">
                                <span class="dot_blue"></span>
                                <span>작업중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_yello"></span>
                                <span>충전중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_glay"></span>
                                <span>대기중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_red"></span>
                                <span>중단</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="box_car_between">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    17%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin-top:8px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    17%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin-top:8px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    17%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin:8px 0 12px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    17%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin-top:8px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    50%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_blue"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    HD-1500-00
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    17%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    A-01로 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <div class="fons12 gray70" style="padding:10px 0 0 20px;">Copyrightⓒ 2024 class() All rights reserved.</div>

    </div>
</div>
{% endblock %}
