{% extends "base.html" %}
{% block title %}SMART AI FACTORY{% endblock %}
{% block content %}
<div class="navigation w-100 h-100">
    <div class="left h-100 d-inline-block">
        {% include "layout/menu.html" %}
    </div>
    <div class="contain_box">
        <div class="top_box">
            {% include "layout/title.html" %}
        </div>
        <div class="center_box_02_01">
            <div class="item01 min-w546">
                <div class="notosans400 fons13 color_black">기기 상태</div>
                <div id="camImg" class="cam_box" style="border-radius: 10px; overflow: hidden; background-image:url('/static/img/005.png');" >
                    <!-- <img src="http://192.168.0.11:8080/stream?topic=/csi_cam_0/image_raw" style="height:100%; width: 100%;"/> -->
                </div>
                <!-- <div id="camImg" class="cam_box" style="border-radius: 10px; overflow: hidden; background: url('/static/img/005.png');" >
                    <script>
                        let cam_imgs = document.getElementById(camImg).style.backgroundImage;

                        let imgchage = "/static/img/005.png";
                        document.getElementById(camImg).style.backgroundImage = "url('"+ cam_imgs +"')";
                    </script>
                    <img src="http://192.168.0.11:8080/stream?topic=/csi_cam_0/image_raw" style="height:100%; width: 100%;"/>
                </div> -->
            </div>
            <div class="item02">
                <div class="notosans400 fons13 color_black">기기 위치</div>
                <div class="map_box" style="border-radius: 10px; overflow: hidden; object-fit: cover;" >
                    <img src="\static\img\map_long.png" style="height:100%;"/>
                    <div class="1-1" style="position:absolute; z-index: 100; top:185px; left: 982px;" >
                        <img class="a" style="position: absolute; z-index: 500; width: 25px; bottom:10px; right: -8.5px" src="http://127.0.0.1:8000/static/img/location_on.svg"/>
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="1-2" style="position:absolute; z-index: 100; top:200px; left: 1008px;">
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="1-3" style="position:absolute; z-index: 100; top:272px; left: 873px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="1-4" style="position:absolute; z-index: 100; top:301px; left: 917px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="2-1" style="position:absolute; z-index: 100; top:293px; left: 933px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="2-2" style="position:absolute; z-index: 100; top:135px; left: 1168px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="2-3" style="position:absolute; z-index: 100; top:170px; left: 1232px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="2-4" style="position:absolute; z-index: 100; top:157px; left: 1257px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="3-1" style="position:absolute; z-index: 100; top:216px; left: 1357px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="3-2" style="position:absolute; z-index: 100; top:279px; left: 1247px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="3-3" style="position:absolute; z-index: 100; top:345px; left: 1365px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="3-4" style="position:absolute; z-index: 100; top:207px; left: 1596px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="4-1" style="position:absolute; z-index: 100; top:160px; left: 1700px" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                    <div class="4-2" style="position:absolute; z-index: 100; top:268px; left: 1700px;" >
                        <i type="button" class="dot_blue"></i>
                    </div>
                </div>
            </div>
        </div>        
            <div class="card min-w900" style="margin: 0 20px;">
                <div class="card-body">
                    <div class="navigation" style="justify-content: space-between;">
                        <p class="notosans400 fons13">작업현황</p>
                    
                        <div class="nav_right fons10 gray70">
                            <p class="ico_btn">
                                <span class="dot_sky"></span>
                                <span>작업중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_yello"></span>
                                <span>충전중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_glay"></span>
                                <span>대기중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_red"></span>
                                <span>점검</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="box_car_between">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-01
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400 battery">
                                    - %
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_sky"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="qr fons12 Poppin500">-</span> 에서 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-02
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    92 %
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_sky"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">1-3</span> 에서 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-03
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    91 %
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_sky"></span>
                                    <span>작업중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    <span class="fons12 Poppin500">2-4</span> 에서 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin-top:8px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-04
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    87 %
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_sky"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">4-3</span> 에서 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-10
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    79%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_sky"></span>
                                    <span>작업중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">2-4</span> 에서 이동중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-11
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    81%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_sky"></span>
                                    <span>작업중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    <span class="fons12 Poppin500">3-4</span> 에서 이동중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin-top:8px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-05
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    79%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_glay"></span>
                                    <span>대기중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">2-4</span> 에서 대기중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-06
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    81%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_glay"></span>
                                    <span>대기중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">3-4</span> 에서 대기중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-12
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    64%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_glay"></span>
                                    <span>대기중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    <span class="fons12 Poppin500">0-0</span> 에서 대기중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin:8px 0 12px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-13
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    53%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_glay"></span>
                                    <span>대기중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">0-0</span> 에서 대기중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-07
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    17%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-08
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    11%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class=" fons10 gray70">
                                    <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_car_between" style="margin-top:8px;">
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-09
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    06%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_yello"></span>
                                    <span>충전중</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-20
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    45%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_red"></span>
                                    <span>점검</span>
                                </div>
                                <div class="fons10 gray70">
                                    <span class="fons12 Poppin500">4-5</span> 에서 점검
                                </div>
                            </div>
                        </div>
                        <div class="box_car_00">
                            <div class="box_car_between">
                                <div class="fons22 roboto500">
                                    CAR-AI-21
                                    <span class="uil uil-signal-alt fons17"></span>
                                </div>
                                <div class="fons22 roboto400">
                                    13%
                                </div>
                            </div>
                            <div class="box_car_between">
                                <div class="ico_btn fons10">
                                    <span class="dot_red"></span>
                                    <span>점검</span>
                                </div>
                                <div class=" fons10 gray70">
                                    <span class="fons12 Poppin500">4-5</span> 에서 점검
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% include "layout/foot.html" %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/roslibjs/1.1.0/roslib.min.js" integrity="sha512-x2Owc9WayRcRj80Znkau58shVfXN2OIX+gQAlrx6KPugZBKrIC6AwgEWQQCI06p2Q8RB4ilxD+y+1BdNd+1fQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/location.js"></script>
<script>
    setActiveMenu(1)//페이지 넘버링
    /* ROS Topic */
    console.log("imgUrl 1")
    let location_nav = document.querySelector(".map_box");
    let location_on = location_nav.querySelectorAll(".dot_blue");
    let qr_select = document.querySelectorAll(".qr");

    
    let camImgElement = document.getElementById('camImg');
    let imgUrl = "http://192.168.0.11:8080/stream?topic=/csi_cam_0/image_raw";
    let imgback = "/static/img/005.png";

    fetch(imgUrl, { method: 'HEAD' })
    .then(response => {
        if (response.ok) {
            camImgElement.style.backgroundImage = "url('" + imgUrl + "')";
        } else {
            camImgElement.style.backgroundImage = "url('" + imgback + "')";
        }
    })
    .catch(() => {
        camImgElement.style.backgroundImage = "url('" + imgback + "')";
    });
    
    
    console.log(qr_select);

    
    qr_val = document.querySelectorAll('.qr')
    console.log(qr_val)
    qr_val[0].addEventListener('change', () => {

    console.log(qr_val[0].textContent);

    });
</script>
{% endblock %}
