{% extends "base.html" %}
{% block title %}SMART AI FACTORY{% endblock %}
{% block content %}
<div class="login">
    <img src="static/img/005.png" alt="login image" class="login__img">

    <form action="" class="login__form" method="post">
    {% csrf_token %}
    <h1 class="fons19 notosans500" style="text-align: center; margin-top: -14px; margin-bottom: 31px;">스마트 AI 팩토리</h1>
    
    <div class="login__content">
        <div class="login__box">
            <i class="ri-user-3-line login__icon"></i>

            <div class="login__box-input">
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150"  required class="login__input" required id="id_username" placeholder=" ">
                <label for="id_username" class="login__label">아이디</label>
            </div>
        </div>

        <div class="login__box">
            <i class="ri-lock-2-line login__icon"></i>

            <div class="login__box-input">
                <input type="password" name="password" autocomplete="current-password"  required class="login__input" id="id_password" placeholder=" ">
                <label for="id_password" class="login__label">패스워드</label>
                <i class="ri-eye-off-line login__eye" id="login-eye"></i>
            </div>
        </div>
    </div>

    <div class="login__check">
        <div class="login__check-group">
            <!-- <input type="checkbox" class="login__check-input" id="login-check">
            <label for="login-check" class="login__check-label">아이디 기억하기</label> -->
        </div>

        <a href="#" class="login__forgot">비밀번호를 잃어버렸다면?</a>
    </div>


    <button type="submit" class="login__button">로그인</button>
    <!-- {% if msg %}
        <p class="error-message">{{ msg }}</p>
    {% endif %} -->
    <p class="login__register">
        <span style="font-size: 11px;">3조 </span>
        class( <span style="font-size: 11px;">고세형. 박정흠. 이정은. 정민우. 최도현 </span>)
    </p>
    </form>
</div>
<script src="/static/js/main.js"></script>
{% endblock %}
