{% extends "base.html" %}
{% block title %}SMART AI FACTORY{% endblock %}
{% block content %}
    <div class="navigation w-100 h-100">
        <div class="left h-100 d-inline-block min-w400">
            {% include "layout/menu.html" %}
        </div>
        <div class="contain_box">
            <div class="top_box">
                {% include "layout/title.html" %}
            </div>
            <div class="center_box_01_01 fons13 graycc">
                <div class="w_30 d_j_start min-w400">
                    <span>목표 생산</span>
                    <span id="counter" class="fons22 whit roboto500"></span>
                    <span>개</span>
                </div>
                <div class="w_30 d_j_center min-w400">
                    <span>현재 생산</span>
                    <span class="fons22 whit roboto400">104900</span>
                    <span>개</span>
                    <span class="gray70">/</span>
                    <span class="fons22 roboto300">98.5</span>
                    <span >%</span>
                </div>
                <div class="w_30 d_j_end min-w400">
                    <span>불량</span>
                    <span class="fons22 whit roboto400">100</span>
                    <span>개</span>
                    <span class="gray70">/</span>
                    <span class="fons22 roboto300">2.5</span>
                    <span>%</span>
                </div>
                <!-- <div class="wow flipInX" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-iteration="infinite">
                    <div class="digit">
                        <div class="flip-top">5</div>
                        <div class="flip-bottom">5</div>
                    </div>
                    <div class="digit">
                        <div class="flip-top">0</div>
                        <div class="flip-bottom">0</div>
                    </div>
                    <div class="digit">
                        <div class="flip-top">0</div>
                        <div class="flip-bottom">0</div>
                    </div>
                    <div class="digit">
                        <div class="flip-top">0</div>
                        <div class="flip-bottom">0</div>
                    </div>                 
                </div>                 -->
            </div>

            <div class="center_box_01_02">
                <div class="card min-w700" style="width: 50%;">
                    <div class="card-body">
                        <p class="notosans400 fons13">작업현황</p>
                        <div class="map_box" style="overflow: hidden; margin-bottom: 15px;">
                            <img src="\static\img\map_short.png" style="height:100%; width: 100%;"/>
                            <!-- 1 -->
                            <div class="1-1" style="position: absolute; z-index: 100; top:142px; left: 132px;">
                                <img class="a" style="position: absolute; z-index: 300; width: 25px; bottom:10px; right: -8.5px;" src="http://127.0.0.1:8000/static/img/location_on.svg"/>
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 2 -->
                            <div class="1-2" style="position: absolute; z-index: 100; top:156px; left: 155px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 3 -->
                            <div class="1-3" style="position: absolute; z-index: 100; top:228px; left: 19px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 4 -->
                            <div class="1-4" style="position: absolute; z-index: 100; top:256px; left: 63px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 5 -->
                            <div class="2-1" style="position: absolute; z-index: 100; top:248px; left: 79px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 6 -->
                            <div class="2-2" style="position: absolute; z-index: 100; top:89px; left: 316px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 7 -->
                            <div class="2-3" style="position: absolute; z-index: 100; top:125px; left: 379px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 8 -->
                            <div class="2-4" style="position: absolute; z-index: 100; top:112px; left: 403px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 9 -->
                            <div class="3-1" style="position: absolute; z-index: 100; top:170px; left: 504px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 10 -->
                            <div class="3-2" style="position: absolute; z-index: 100; top:233px; left: 395px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 11 -->
                            <div class="3-3" style="position: absolute; z-index: 100; top:300px; left: 517px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 12 -->
                            <div class="3-4" style="position: absolute; z-index: 100; top:160px; left: 748px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 13 -->
                            <div class="4-1" style="position: absolute; z-index: 100; top:148px; left: 795px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <!-- 14 -->
                            <div class="4-2" style="position: absolute; z-index: 100; top:188px; left: 795px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                        </div>
                        <div class="nav_right fons10 gray70">
                            <p class="ico_btn">
                                <span class="dot_sky"></span>
                                <span>작업중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_yello"></span>
                                <span>충전중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_glay"></span>
                                <span>대기중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_red"></span>
                                <span>중단</span>
                            </p>
                        </div>
                        <div class="box_car_between">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-150-01
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400 battery">
                                        - %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="qr fons12 Poppin500">-</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        92 %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">1-3</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_car_between" style="margin-top:8px;">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        91 %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="fons12 Poppin500">2-4</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        87 %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">4-3</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_car_between" style="margin-top:8px;">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        79%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_glay"></span>
                                        <span>대기중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="qr fons12 Poppin500">2-4</span> 에서 대기중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        81%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_glay"></span>
                                        <span>대기중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">3-4</span> 에서 대기중
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_car_between" style="margin:8px 0 12px;">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        17%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_yello"></span>
                                        <span>충전중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        HD-1500-00
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        11%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_yello"></span>
                                        <span>충전중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card min-w600" style="width: 50%;">
                    <div class="card-body">
                        <p class="notosans400 fons13">품질 검사</p>
                        <div class="cam_box" style="overflow: hidden;">
                            
                            <div id="capture">
                                <!-- <img src="http://192.168.0.11:8080/stream?topic=/csi_cam_0/image_raw"/> -->
                                <img class="videoStream" muted playsinline autoplay src style="width:100%;" />
                            </div>
                            <!-- <canvas style="position: absolute; top:0; left: 0; z-index: 100;" class="capture"></canvas> -->
                        
                        </div>
                        <!-- <div style="position: absolute; top:15px; right: 17px;">
                            <button type="button" class="btn btn-sm btn-outline-secondary cap-btn" style="font-size: 10px;">캡쳐</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary dow-btn" style="font-size: 10px;">저장</button>
                            
                        </div> -->
                        <div class="notosans400 fons13 flex_between">
                            <p style="margin:17px 0 14px;">품질 이상</p>
                            <p style="margin:17px 0;" class="cursor"><a href="http://127.0.0.1:8000/profile/qualityInspect/">+ 더보기</a></p>
                        </div>
                        
                        <table class="table table-striped table-hover fons14">
                            <thead>
                                <tr style="border-top: 1px solid #eee;">
                                    <th scope="col">No</th>
                                    <th scope="col">검출시간</th>
                                    <th scope="col">품질측정(mm/RPM)</th>
                                    <th scope="col">고객사</th>
                                    <th scope="col">사진</th>
                                </tr>
                            </thead>
                            <tbody id="imageTable" class="cursor">
                            </tbody>
                            <!-- <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                </div>
            </div>
            {% include "layout/foot.html" %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/roslibjs/1.1.0/roslib.min.js" integrity="sha512-x2Owc9WayRcRj80Znkau58shVfXN2OIX+gQAlrx6KPugZBKrIC6AwgEWQQCI06p2Q8RB4ilxD+y+1BdNd+1fQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/location.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        setActiveMenu(0) // 페이지 넘버링
        let xhr = new XMLHttpRequest(); 
        let url = "http://127.0.0.1:8000//test01week";       
        
        xhr.open("GET", url, true);
        xhr.onload = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let json = JSON.parse(xhr.response);
                let tableBody = document.getElementById('imageTable');
                console.log(JSON.parse(xhr.response))
                console.log(json.length)
                for (let i = 0; i < json.length; i++) {
                    console.log(json[i].id);
                    console.log(json[i].Detection_Time);
                    console.log(json[i].image_url);
                    // 생성 반복적으로 보여주는  
                    let row = tableBody.insertRow();
                    row.insertCell(0).innerText = json[i].id;
                    row.insertCell(1).innerText = json[i].Detection_Time;
                    row.insertCell(2).innerText = json[i].Pull_Measurement;
                    row.insertCell(3).innerText = json[i].coustomer;  
                    let imgCell = row.insertCell(4);
                    let img = document.createElement('img');
                    img.src = json[i].image_url;
                    img.width = 50;
                    imgCell.appendChild(img);
                }
            }
            else {
                console.log("Error");
            }
        };
        xhr.send();
            var currentNumber = 0;
            var interval = setInterval(() => {
            document.getElementById('counter').textContent = currentNumber;
            currentNumber += 100;
            if (currentNumber > 105001) {
                clearInterval(interval);
                };
            }, 1); // 매 100밀리초(0.1초)마다 숫자를 증가시킴
    });

    /* ROS Topic */
    let location_nav = document.querySelector(".map_box");
    let location_on = location_nav.querySelectorAll(".dot_blue");
    let qr_select = document.querySelectorAll(".qr");
    console.log(qr_select);

    
    qr_val = document.querySelectorAll('.qr')
    console.log(qr_val)
    qr_val[0].addEventListener('change', () => {

    console.log(qr_val[0].textContent);

    });
    //   if (qr_val == 1-1) {
    //     console.log('1-1 이 선택됐음');
    //     // document.getElementsByClassName('.test').innerHtml = 삐리리
    //   }

        // $(function(){
        //     $(location_on).eq(0).blind('click', function(){
        //         console.log(location_on.eq(0));
        //     })
        // })

    //   $(function(){
    //     $('.dot_blue').parent().click(function(event){
    //         console.log("Jquery test")
    //         $(this).after('<img style="z-index:200; position:absolute;" src="http://127.0.0.1:8000/static/img/location-point.svg">');
    //     })
    //   })
    
    </script>
    
<!-- <script>
    window.onload = function() { setActiveMenu(0)

        // flip-clock

        const wow = new WOW(
        {
            boxClass:     'wow',      // default
            animateClass: 'animated', // default
            offset:       0,          // default
            mobile:       true,       // default
            live:         true        // default
        }
        )
        wow.init();
    }
</script> -->
{% endblock %}
