{% extends "base.html" %}
{% block title %}SMART AI FACTORY{% endblock %}
{% block content %}
    <div class="navigation w-100 h-100">
        <div class="left h-100 d-inline-block min-w400">
            {% include "layout/menu.html" %}
        </div>
        <div class="contain_box">
            <div class="top_box">
                {% include "layout/title.html" %}
            </div>
            <div class="center_box_01_01 fons13 graycc">
                <div class="w_30 d_j_start min-w400">
                    <span>목표 생산</span>
                    <span id="counter" class="fons22 whit roboto500"></span>
                    <span>개</span>
                </div>
                <div class="w_30 d_j_center min-w400">
                    <span>현재 생산</span>
                    <span id="currentProduction" class="fons22 whit roboto400">-</span>
                    <span>개</span>
                    <span class="gray70">/</span>
                    <span id="ok_percent" class="fons22 roboto300">-</span>
                    <span >%</span>
                </div>
                <div class="w_30 d_j_end min-w400">
                    <span>불량</span>
                    <span id="defectiveCount" class="fons22 whit roboto400">-</span>
                    <span>개</span>
                    <span class="gray70">/</span>
                    <span id="def_percent" class="fons22 roboto300">-</span>
                    <span>%</span>
                </div>
                <!-- <div class="wow flipInX" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-iteration="infinite">
                    <div class="digit">
                        <div class="flip-top">5</div>
                        <div class="flip-bottom">5</div>
                    </div>
                    <div class="digit">
                        <div class="flip-top">0</div>
                        <div class="flip-bottom">0</div>
                    </div>
                    <div class="digit">
                        <div class="flip-top">0</div>
                        <div class="flip-bottom">0</div>
                    </div>
                    <div class="digit">
                        <div class="flip-top">0</div>
                        <div class="flip-bottom">0</div>
                    </div>                 
                </div>                 -->
            </div>

            <div class="center_box_01_02">
                <div class="card min-w700" style="width: 50%;">
                    <div class="card-body">
                        <p class="notosans400 fons13">작업 현황</p>
                        <div class="map_box" style="overflow: hidden; margin-bottom: 15px;">
                            <img src="\static\img\map_short.png" style="height:100%; width: 100%;"/>
                            
                            <div class="1-1" style="position: absolute; z-index: 100; top:142px; left: 132px;">
                                <img class="a" style="position: absolute; z-index: 300; width: 25px; bottom:10px; right: -8.5px;" src="http://127.0.0.1:8000/static/img/location_on.svg"/>
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="1-2" style="position: absolute; z-index: 100; top:156px; left: 155px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="1-3" style="position: absolute; z-index: 100; top:228px; left: 19px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="1-4" style="position: absolute; z-index: 100; top:256px; left: 63px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="2-1" style="position: absolute; z-index: 100; top:248px; left: 79px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="2-2" style="position: absolute; z-index: 100; top:89px; left: 316px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="2-3" style="position: absolute; z-index: 100; top:125px; left: 379px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="2-4" style="position: absolute; z-index: 100; top:112px; left: 403px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="3-1" style="position: absolute; z-index: 100; top:170px; left: 504px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="3-2" style="position: absolute; z-index: 100; top:233px; left: 395px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="3-3" style="position: absolute; z-index: 100; top:300px; left: 517px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="3-4" style="position: absolute; z-index: 100; top:160px; left: 748px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="4-1" style="position: absolute; z-index: 100; top:148px; left: 795px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                            <div class="4-2" style="position: absolute; z-index: 100; top:188px; left: 795px;" >
                                <i type="button" class="dot_blue"></i>
                            </div>
                        </div>
                        <div class="nav_right fons10 gray70">
                            <p class="ico_btn">
                                <span class="dot_sky"></span>
                                <span>작업중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_yello"></span>
                                <span>충전중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_glay"></span>
                                <span>대기중</span>
                            </p>
                            <p class="ico_btn">
                                <span class="dot_red"></span>
                                <span>점검</span>
                            </p>
                        </div>
                        <div class="box_car_between">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-01
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400 battery">
                                        - %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="qr fons12 Poppin500">-</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-02
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        92 %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">1-3</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_car_between" style="margin-top:8px;">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-03
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        91 %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="fons12 Poppin500">2-4</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-04
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        87 %
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_sky"></span>
                                        <span>작업중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">4-3</span> 에서 이동중
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_car_between" style="margin-top:8px;">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-05
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        79%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_glay"></span>
                                        <span>대기중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="fons12 Poppin500">2-4</span> 에서 대기중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-06
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        81%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_glay"></span>
                                        <span>대기중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">3-4</span> 에서 대기중
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_car_between" style="margin:8px 0 12px;">
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-07
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        17%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_yello"></span>
                                        <span>충전중</span>
                                    </div>
                                    <div class="fons10 gray70">
                                        <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                    </div>
                                </div>
                            </div>
                            <div class="box_car_00">
                                <div class="box_car_between">
                                    <div class="fons22 roboto500">
                                        CAR-AI-08
                                        <span class="uil uil-signal-alt fons17"></span>
                                    </div>
                                    <div class="fons22 roboto400">
                                        11%
                                    </div>
                                </div>
                                <div class="box_car_between">
                                    <div class="ico_btn fons10">
                                        <span class="dot_yello"></span>
                                        <span>충전중</span>
                                    </div>
                                    <div class=" fons10 gray70">
                                        <span class="fons12 Poppin500">0-0</span> 에서 충전중
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card min-w600" style="width: 50%;">
                    <div class="card-body">
                        <p class="notosans400 fons13">품질 검사</p>
                        <div class="cam_box" style="overflow: hidden;">
                            
                            <div id="capture">
                                <!-- <img src="http://192.168.0.11:8080/stream?topic=/csi_cam_0/image_raw"/> -->
                                <!-- <img class="videoStream" muted playsinline autoplay src style="width:100%;" /> -->
                                <img src="http://localhost:8001/video_feed"  class="videoStream" muted playsinline autoplay src style="width:100%;" />
                            </div>
                            <!-- <canvas style="position: absolute; top:0; left: 0; z-index: 100;" class="capture"></canvas> -->
                        
                        </div>
                        <!-- <div style="position: absolute; top:15px; right: 17px;">
                            <button type="button" class="btn btn-sm btn-outline-secondary cap-btn" style="font-size: 10px;">캡쳐</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary dow-btn" style="font-size: 10px;">저장</button>
                            
                        </div> -->
                        <div class="notosans400 fons13 flex_between">
                            <p style="margin:17px 0 14px;">품질 이상</p>
                            <p style="margin:17px 0;" class="cursor effect"><a href="/profile/qualityInspect">+ 더보기</a></p>
                        </div>
                        
                        <table class="table table-striped table-hover fons14 txt_cen" >
                            <thead>
                                <tr style="border-top: 1px solid #eee;">
                                    <th scope="col">No</th>
                                    <th scope="col">검출시간</th>
                                    <th scope="col">불량종류</th>
                                    <th scope="col">품질측정(mm/RPM)</th>
                                    <th scope="col">불량 종류</th>
                                    <th scope="col">창고위치</th>
                                    <th scope="col">사진</th>
                                </tr>
                            </thead>
                            <tbody id="imageTable" class="cursor">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include "layout/foot.html" %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/roslibjs/1.1.0/roslib.min.js" integrity="sha512-x2Owc9WayRcRj80Znkau58shVfXN2OIX+gQAlrx6KPugZBKrIC6AwgEWQQCI06p2Q8RB4ilxD+y+1BdNd+1fQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/location.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        setActiveMenu(0) // 페이지 넘버

        // Ajax 요청
        let xhr = new XMLHttpRequest(); 
        let url = "http://127.0.0.1:8000//test01week";       
        
        xhr.open("GET", url, true);
        xhr.onload = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let json = JSON.parse(xhr.response);
                json.sort((a, b) => b.id - a.id);
                json = json.filter(item => item.category !== '출하 창고');
                json.length = 7;

                let tableBody = document.getElementById('imageTable');
                

                json.forEach(item => {
                    const row = tableBody.insertRow();
                    cell.style.padding = '20.3px 0';
                    
                    row.insertCell(0).innerText = item.id;
                    row.insertCell(1).innerText = item.Detection_Time;
                    row.insertCell(2).innerText = item.defect_types;
                    row.insertCell(3).innerText = item.Pull_Measurement;
                    row.insertCell(4).innerText = item.category;

                    const imgCell = row.insertCell(5);
                    const img = document.createElement('img');
                    img.src = item.image_url;
                    img.width = 40;
                    console.log('Image URL:', img.src);
                    img.style.borderRadius = '4px';
                    imgCell.appendChild(img);

                    row.onclick = () => {
                        window.location.href = `http://127.0.0.1:8000/profile/qualityInspect/`;
                        // window.location.href = `http://127.0.0.1:8000/profile/qualityInspect/?img=${item.image_url}`;
                    };
                });
            } 
        };
        xhr.send();
            let currentNumber = 0;

            let interval = setInterval(() => {
            document.getElementById('counter').textContent = currentNumber;
            currentNumber += 100;
            if (currentNumber > 105001) {
                clearInterval(interval);
                const cn_comma = currentNumber.toLocaleString('ko-KR');
                console.log("localestring: ", cn_comma);
                document.getElementById('counter').textContent = cn_comma;
                };
            }, 1); // 매 100밀리초(0.1초)마다 숫자를 증가시킴
            console.log(currentNumber);
            
            
    });
    

    /* ROS Topic */
    let location_nav = document.querySelector(".map_box");
    let location_on = location_nav.querySelectorAll(".dot_blue");
    let qr_select = document.querySelectorAll(".qr");
    console.log(qr_select);

    
    qr_val = document.querySelectorAll('.qr')
    console.log(qr_val)
    qr_val[0].addEventListener('change', () => {

    console.log(qr_val[0].textContent);
    });

    // 생산 및 불량률 업데이트 기능
    function updateMetrics() {
           fetch('/metrics')
               .then(response => response.json())
               .then(data => {
                // document.getElementById('counter').innerText = data.total_production;
                document.getElementById('currentProduction').innerText = data.ok_count;
                document.getElementById('productionRate').innerText = data.ok_rate.toFixed(2);
                document.getElementById('defectiveCount').innerText = data.def_count;
                document.getElementById('defectRate').innerText = data.def_rate.toFixed(2);
            })
            .catch(error => console.error('Error fetching metrics:', error));
        }

        // 5초마다 메트릭 업데이트
        document.addEventListener('DOMContentLoaded', () => {
        updateMetrics();
        setInterval(updateMetrics, 5000);
        });

    </script>

<!-- <script>
    window.onload = function() { setActiveMenu(0)

        // flip-clock

        const wow = new WOW(
        {
            boxClass:     'wow',      // default
            animateClass: 'animated', // default
            offset:       0,          // default
            mobile:       true,       // default
            live:         true        // default
        }
        )
        wow.init();
    }
</script> -->
{% endblock %}
