{% extends "base.html" %}
{% block title %}SMART AI FACTORY{% endblock %}
{% block content %}
<div class="navigation w-100 h-100">
    <div class="left h-100 d-inline-block">
        {% include "layout/menu.html" %}
    </div>

    <div class="contain_box">
        <div class="top_box">
            {% include "layout/title.html" %}
        </div>
        <div class="center_box_02_01">
            <div class="item02" style="overflow: hidden;">
                <div class="notosans400 fons13" style="display: flex; align-items: center; justify-content: space-between;">
                  <div class="color_black">HD-1500-00 실시간</div>
                  <div>
                    <button type="button" class="btn btn-dark btn-sm notosans400" style="font-size: 11px;"  id="">주간</button>
                    <button type="button" class="btn btn-light btn-sm notosans400" style="font-size: 11px;" id="">월간</button>
                    <button type="button" class="btn btn-light btn-sm notosans400" style="font-size: 11px;" id="">년간</button>
                  </div> 

                </div>
                <div class="map_box" style="padding: 10px 20px; display: flex; justify-content: center;">
                    <canvas id="myChart01" width="1150" height="270"></canvas>
                    <!-- <img src=".\img\005.png" style="height:100%;"/> -->
                </div>
            </div>
            <div class="item01">
                <div class="notosans400 fons13 color_black">품질 비율</div>
                <div class="map_box" style="padding: 10px 70px">
                    <canvas id="myChart02" width="270" height="270"></canvas>
                </div>
            </div>
        </div>
            <div class="card" style="margin: 0 20px;">
                <div class="card-body">
                    <p class="notosans400 fons13 color_black">작업현황</p>
                    <div class="navigation" style="justify-content: space-between;">
                        <div style="width: 75%;">
                            <table class="table table-striped table-hover fons14 txt_cen">
                                <thead>
                                  <tr style="border-top: 1px solid #eee;">
                                    <th scope="col">No</th>
                                    <th scope="col">검출시간</th>
                                    <th scope="col">품질측정(mm/RPM)</th>
                                    <th scope="col">고객사</th>
                                    <th scope="col">사진</th>
                                  </tr>
                                </thead>
                                <tbody id="imageTable">
                                </tbody>
                                <!-- <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                </tbody> -->
                            </table>
                            <div aria-label="Page navigation example">
                              <ul class="pagination pagination-sm justify-content-center" id="pagination">
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous" onclick="changePage('prev')">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#" onclick="changePage(1)">1</a></li>
                                <li class="page-item"><a class="page-link" href="#" onclick="changePage(2)">2</a></li>
                                <li class="page-item"><a class="page-link" href="#" onclick="changePage(3)">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next" onclick="changePage('next')">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </div>

                            <!-- <div class="pagination" id="pagination">
                              <a href="#" onclick="changePage('prev')">&laquo;</a>
                              <a href="#" class="active" onclick="changePage(1)">1</a>
                              <a href="#" onclick="changePage(2)">2</a>
                              <a href="#" onclick="changePage(3)">3</a>
                              <a href="#" onclick="changePage('next')">&raquo;</a>
                            </div> -->
                        </div>
                        <div id="imageTable" style=" width: 394px; height: 410px; overflow: hidden; background-color: #eee; border-radius: 5px;">
                          <img id="displayedImage" src="" style="width: 100%; height: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            {% include "layout/foot.html" %}
    </div>
</div>
<script>
  setActiveMenu(2)
  // URL에서 쿼리 문자열을 가져옴
  const queryStr = window.location.search  
  const params = new URLSearchParams(queryStr)  
  const imageUrl = params.get("img");
  displayImage(imageUrl);

  if (imageUrl) {
    console.log("Image URL: ", imageUrl);

    let img = document.createElement('img');
    img.src = imageUrl;
  } else {
    console.log("No Image URL found.");
  }



  const rowsPerPage = 5;
  let currentPage = 1;
  let jsonData = [];

  // window.onload = function() {
  let xhr = new XMLHttpRequest();
  let url = "http://127.0.0.1:8000/test01week";  // URL 수정

  xhr.open("GET", url, true);
  xhr.onload = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      jsonData = JSON.parse(xhr.response);
      displayTable(jsonData, currentPage, rowsPerPage);
      setupPagination(jsonData.length, rowsPerPage);
      // 데이터가 있는 경우 첫 번째 이미지를 표시합니다.
      if (jsonData.length > 0) {
        displayImage(jsonData[0].image_url);
      }
    } else {
      console.log("Error");
    }
  };
  xhr.send();
  // };

  function displayTable(data, page, rows) {
    const tableBody = document.getElementById('imageTable');
    tableBody.innerHTML = "";
    let start = (page - 1) * rows;
    let end = start + rows;
    let paginatedItems = data.slice(start, end);

    for (let i = 0; i < paginatedItems.length; i++) {
      let row = tableBody.insertRow();
      row.insertCell(0).innerText = paginatedItems[i].id;
      row.insertCell(1).innerText = paginatedItems[i].Detection_Time;
      row.insertCell(2).innerText = paginatedItems[i].Pull_Measurement;
      row.insertCell(3).innerText = paginatedItems[i].coustomer;
      
      let imgCell = row.insertCell(4);
      let img = document.createElement('img');
      img.src = paginatedItems[i].image_url;
      img.width = 50;
      imgCell.appendChild(img);
      
      // 각 행에 클릭 이벤트 추가
      row.onclick = function() {
        displayImage(paginatedItems[i].image_url);
      };
    }
  }

  function setupPagination(totalItems, rows) {
    const pagination = document.getElementById('pagination');
    pagination.innerHTML = `
      <a class="page-link" href="#" aria-label="Previous" onclick="changePage('prev')">
        <span aria-hidden="true">&laquo;</span>
      </a>
    `;
    let pageCount = Math.ceil(totalItems / rows);
    for (let i = 1; i <= pageCount; i++) {
      pagination.innerHTML += `
        <a href="#" ${i !== currentPage ? 'class="page-link"' : 'class="page-link active'} onclick="changePage(${i})">${i}</a>
      `
      
    }
    pagination.innerHTML += `
      <a class="page-link" href="#" aria-label="Next" onclick="changePage('next')">
        <span aria-hidden="true">&raquo;</span>
      </a>
    `;
  }

  function changePage(page) {
    if (page === 'prev') {
      if (currentPage > 1) {
        currentPage--;
      }
    } else if (page === 'next') {
      if (currentPage < Math.ceil(jsonData.length / rowsPerPage)) {
        currentPage++;
      }
    } else {
      currentPage = page;
    }
    displayTable(jsonData, currentPage, rowsPerPage);
    setupPagination(jsonData.length, rowsPerPage);

    // 새 페이지의 첫 번째 이미지 표시
    if (jsonData.length > 0) {
      displayImage(jsonData[(currentPage - 1) * rowsPerPage].image_url);
    }
  }

  function displayImage(imageUrl) {
    const displayedImage = document.getElementById('displayedImage');
    displayedImage.src = imageUrl;
  }
</script>
{% endblock %}
