{% extends "base.html" %}
{% block content %}
<p class="txt01 notosans500 cursor" style="margin-bottom: 29px;"><a href="/profile" class="whit">스마트 AI 팩토리</a></p>
<div class="box_center">
    <p class="face"><img src="\static\img\001.png" style="width: 100%;" /></p>
    <p class="face_line posion_abso"></p>
</div>
<div class="gray70 fons11 txt_cen" style="padding-top: 20px;">김주임, 이사원</div>
<div class="flex_center" style="margin:10px 0 40px;">
    <span class="uil uil-setting gray70 fons20 ico"></span>
    <span class="uil uil-envelope gray70 fons20 ico"></span>
    <a href="/signout"><span class="uil uil-power gray70 fons20 ico"></span></a>
</div>
<div>
    <div class="fons15" style="border-top: 1px solid #373737;">
        <a href="/profile" class="menu">
        <span>모니터링</span>
        <span class="uil uil-angle-right-b fons19"></span>
        </a>
    </div>
    <div class="fons15">
        <a href="/profile/deviceState" class="menu">
        <span>기기상태</span>
        <span class="uil uil-angle-right-b fons19"></span>
        </a>
    </div>
    <div class="fons15">
        <a href="/profile/qualityInspect" class="menu">
        <span>품질검사</span>
        <span class="uil uil-angle-right-b fons19"></span>
        </a>
    </div>
    <div class="fons15">
        <a href="#" class="menu">
        <span>로그기록</span>
        <span class="uil uil-angle-right-b fons19"></span>
        </a>
    </div>
    <!-- <div class="fons15">
        <a href="/profile/logRecord" class="menu">
        <span>로그기록</span>
        <span class="uil uil-angle-right-b fons19"></span>
        </a>
    </div> -->
</div>
<!-- <script src="/static/css/menuSelect.js"></script> -->
<script>
function setActiveMenu(index){

const menus = $('a.menu')
$(menus[index]).removeClass("menu")
$(menus[index]).addClass("menu_on")

if (index === 0) {
    $("#title").text("모니터링");
    } else if (index === 1) {
    $("#title").text("기기상태");
    } else if (index === 2) {
    $("#title").text("품질관리");
    } else if (index === 3) {
    $("#title").text("로그기록");
    }
}
</script>
{% endblock %}
