{% extends "base.html" %}
{% block content %}
<span class="fonts14 grayb7 top_box_center min-w400">
    <span class="uil uil-bars fons19 ico"></span>
    <span class="Poppin400">Smart AI Factory 관제 시스템</span>
    <span>|</span>
    <span id="title" class="whit notosans400">모니터링</span>
</span>
<div>
    <span style="margin-right: 10px;">{{ user.username }} 님 ! </span>
    <button type="button" class="btn btn-outline-dark" style="font-size: 10px;" onclick="openMail()" >메일</button> <!--  onclick="openMail()"  -->
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-dark" style="font-size: 10px;" onclick="location.href='/signout'">로그아웃</button>
    {% endif %} 
</div>

<script type="text/javascript">
    function openMail(){
        var popup = window.open('mail/', '네이버팝업', 'width=700px,height=800px,scrollbars=yes');
    }
</script>
{% endblock %}
